
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Room</title>
    {% load static %}
    <script src="https://kit.fontawesome.com/72ae810c7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/test1.css' %}">
    /*
    <script>
      function openSlideMenu() {
        document.getElementById('menu').style.width='250px';
        document.getElementById('content').style.marginLeft='250px';
        /*
        var newVideo = document.createElement("iframe");
        newVideo.setAttribute("src", "https://www.youtube.com/embed/XyNlqQId-nk");
        var ul = document.getElementById("dynamic-list");
        var li = document.createElement("li");
        li.appendChild(newVideo);
        ul.appendChild(li);
        */
      }
      function closeSlideMenu() {
        document.getElementById('menu').style.width='0px';
        document.getElementById('content').style.marginLeft='0px';
      }
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      var i = 0;
      function move(duration) {
        if (i == 0) {
          i = 1;
          var elem = document.getElementById("myBar");
          var width = 1 / duration;
          var hold = width;
          var id = setInterval(frame, 10);
          function frame() {
            if (hold >= 100) {
              clearInterval(id);
              i = 0;
            }
            else {
              hold += width;
              elem.style.width = hold + "%";
              return hold;
            }
          }
        }
      }

      function pause() {
        var elem = document.getElementById("myBar");
        var id = setInterval(frame, 10);
        var hold = 0;
        function frame() {
          elem.style.width = hold + "%";
        }
      }

      var player;

      // this function gets called when API is ready to use
      function onYouTubePlayerAPIReady() {
          // create the global player from the specific iframe (#video)
          player = new YT.Player('video', {
              events: {
                  // call this function when player is ready to use
                  'onReady': onPlayerReady
              }
          });
      }

      function onPlayerReady(event) {

          // bind events
          var playButton = document.getElementById("play-button");
          playButton.addEventListener("click", function() {
              player.playVideo();
          });

          var pauseButton = document.getElementById("pause-button");
          pauseButton.addEventListener("click", function() {
              player.pauseVideo();
          });

          var stopButton = document.getElementById("stop-button");
          stopButton.addEventListener("click", function() {
              player.stopVideo();
          });

      }

      // Inject YouTube API script
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag); 
    </script>
  </head>
  <body>
    <div id="content">
      <span class="slide">
        <a href="#" onclick="openSlideMenu()">
          <i class="fas fa-bars fa-2x"></i>
        </a>
      </span>
      <div id="menu" class="nav">
        <a href="#" class="close" onclick="closeSlideMenu()">
          <i class="fas fa-times"></i>
        </a>
        <li><a href="#">Home</a></li>
      </div>
      <div class="room-title">
        Room
      </div>
    </div>
    <div class="row">
      <div class="hud-bar">
        <h2 style="font-weight: 100;">
          <i class="fas fa-volume-off"></i>&emsp;Song Title (add dynamically)
        </h2>
      </br>
        <div id="myProgress">
          <div id="myBar"></div>
        </div>
        <div class="song-buttons">
          <button id="play-button" onclick="move(362)"><i class="fas fa-play fa-2x"></i></button>
          <button id="pause-button"><i class="fas fa-pause fa-2x"></i></button>
          <button id="stop-button"><i class="fas fa-stop fa-2x"></i></button>
          <ul id="dynamic-list">
          </ul>
        </div>

        <!-- <div class="buttons">
      		<button class="button" id="play-button">PLAY</button>
      		<button class="button" id="pause-button">PAUSE</button>
      		<button class="button" id="stop-button">STOP</button>
      	</div> -->
        <!-- <div class="song-buttons">
          <button id="play-button"><i class="fas fa-play fa-2x"></i></button>
          <button id="pause-button"><i class="fas fa-pause fa-2x"></i></button>
        </div> -->
        <div class="active-listeners">
          <h4 style="font-weight: 100;">(num) listeners in this room</h4>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <div class="bar-left">
            <div class="content-title">
              Queue
            </div>
          </div>
          <div class="queue">
            <li>this is a very long item to test line breaks in case things go south</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </div>
          </div>
        </div>
      <div class="column">
        <div class="row">
          <div class="bar-right">
            <div class="content-title">
              Recommend song
            </div>
          </div>
          <div class="song-list" style="height: 25px;">
            <div class="bar">
            </div>
            <li>This song is dope</li>
          </div>
          <div class="bar-right">
            <div class="content-title">
              Vote
            </div>
          </div>
          <div class="song-list" style="height: 300px">
            <li><i class="fas fa-check"></i>&ensp;<i class="fas fa-times"></i>&ensp;item</li>
            <li><i class="fas fa-check"></i>&ensp;<i class="fas fa-times"></i>&ensp;item</li>
            <li><i class="fas fa-check"></i>&ensp;<i class="fas fa-times"></i>&ensp;item</li>
            <li><i class="fas fa-check"></i>&ensp;<i class="fas fa-times"></i>&ensp;item</li>
          </div>
        </br>
          <!-- <iframe width="894" height="503" src="https://www.youtube.com/embed/{{youtubeKey}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/{{youtubeKey}}?enablejsapi=1&html5=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
